<div class="aaa_pts_left_1" onclick="left_open(this,'zh')">综合管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="zh">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Shangchang/add')}" target="iframe">店铺信息</a>
   </li>
   <li>
       <a href="{:U('Shangchang/password')}" target="iframe">修改密码</a>
   </li>
 </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'product')">产品管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="product">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Product/add')}" target="iframe">添加产品</a>
   </li>
   <li>
       <a href="{:U('Product/index')}" target="iframe">产品管理</a>
   </li>
<!--    <li>
       <a href="{:U('ProAttribute/add')}" target="iframe">添加产品属性</a>
   </li>
   <li>
       <a href="{:U('ProAttribute/index')}" target="iframe">产品属性管理</a>
   </li> -->
 </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'brand')">品牌管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="brand">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Brand/add')}" target="iframe">添加品牌</a>
   </li>
   <li>
       <a href="{:U('Brand/index')}" target="iframe">品牌管理</a>
   </li>
 </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'order')">订单管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="order">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Order/index')}" target="iframe">全部订单</a>
   </li>
 </ul>
</div>

<!-- <div class="aaa_pts_left_1" onclick="left_open(this,'nav')">分类管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="nav">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Category/add')}" target="iframe">添加分类</a>
   </li>
   <li>
       <a href="{:U('Category/index')}" target="iframe">分类管理</a>
   </li>
 </ul>
</div> -->

<div class="aaa_pts_left_1" onclick="left_open(this,'voucher')">优惠券管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="voucher">
 <ul class="aaa_pts_left_2">
    <li>
       <a href="{:U('Voucher/add')}" target="iframe">添加优惠券</a>
   </li>
   <li>
       <a href="{:U('Voucher/index')}" target="iframe">优惠券管理</a>
   </li>
 </ul>
</div>